# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Android RemoteControl Application
RemoteControl/.settings
RemoteControl/bin
RemoteControl/gen
